@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: inherit;
}

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f9fafb;
  margin: 0;
  padding: 0;
  letter-spacing: -0.015em;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
